Añadir comentario:

<form method="post" action="/quizes/<%= quizId %>/comments/">
	<input type="text" id="comment" name="comment[texto]" value="" placeholder="Comentario"/><br>
	<button type="submit"> Enviar </button>

</form>