<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link media="only screen and (min-width:530px)" rel='stylesheet' href='/stylesheets/wide.css' />
    <link media="only screen and (max-width:480px)" rel='stylesheet' href='/stylesheets/smartphone.css' />
  </head>
  <body>

  <div id="page-wrap">
  	<header class="main" id="h1">
  		<img style="display:block; float:left"src="/images/skull.png" width="100px"/>
		<div id="hgroup_main">
    <h1 class="smartphone">Quiz:SPhone</h1>
		<h1 class="wide">Quiz, el juego de las preguntas.</h1>
		<h2>¡Acierta o muere!</h2>
		</div>
		<div style="clear:both"></div>
  	</header>

  	<nav class="main" id="n1" role="navigation">
		<span> <a href="/">Inicio</a></span>
		<span><a href="/quizes">Preguntas</a></span>
    <span><a href="/quizes/authors">Autores</a></span>
  	</nav>
  	<section class="main" id="s1">
   <%-body %>
    </section>

    <footer class="main" id="f1">
    	<a href="http://es.wikipedia.org/wiki/Quiz" target="_blank">¿Qué es un Quiz?
    	</a><br>
		<a href="https://github.com/migueldelbarrio/Mis_proyectos" target="_blank">GitHub Link
		</a>

    </footer>
	</div>
  </body>
</html>