<label> Pregunta </label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/>
<label> Respuesta </label>
<input type="text" id="preg" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/>
<input type="submit" value="Almacenar pregunta en la base de datos"/>
