

    <h1><%= title %></h1>
    <h2> <%= subtitle %></h2>
    <form method="get" action="./answer">
    <label>Pregunta mortal:   <%= pregunta %></label>
    <input type="text" name="respuesta" value="responda aquí" onblur="if (this.value == '') {this.value = 'responda aquí';}"
 onfocus="if (this.value == 'responda aquí') {this.value = '';}"/>
    <input type="submit" name="Responder">
    </form>


