<form method="get" action="/quizes/<%= quiz.id %>/answer">

<label>Pregunta: <%= quiz.pregunta %></label> <input type="text" name="respuesta" value="responda aquí" onblur="if (this.value == '') {this.value = 'responda aquí';}"
 onfocus="if (this.value == 'responda aquí') {this.value = '';}"/>
<input type="submit" value="Enviar"/>
</form>


<p><a href="/quizes/<%= quiz.id %>/comments/new"><button>Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<ol>
<% for(var i=0; i<quiz.Comments.length; i++) { %>

<% if (quiz.Comments[i].publicado) { %>
<li><%= quiz.Comments[i].texto %> </li>
<% } %>


<% } %>

</ol>