<h1>Inicio de sesión</h1>


<form method="post" action="/login">
<label> Nombre </label>
<input type="text" id="preg" name="user" value="Nombre"/>
<label> Pass </label>
<input type="text" id="preg" name="password" value="Pass"/>
<input type="submit" value="Enviar">

</form>